html,
body {
  padding: 0;
  margin: 0;
}
.ant-typography,
.ant-table-cell {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

b strong {
  font-family: 'San Francisco Pro', sans-serif;
  font-weight: 600 !important;
}

* {
  font-family: 'San Francisco Pro', sans-serif;
  font-weight: 300;

  box-sizing: border-box;
}
